body{
    background-image: url('../img/fondo.jpg');
    height: 100vh;
}
.columns{
    background-color: #fff;
}
.formulario{
    background-color: #fff;
}
.ruleta{
    height: 70vh;
    background-color: #fff;
}
.final{
    height: 70vh;
    background-color: #fff;
}