<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/reset.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename= 'css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <title>{% block title %}VOLTEXPLAY -{% endblock %}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <header>
          {% block header %}
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img
                  src="{{ url_for('static', filename='img/logo.png') }}"
                  width="112"
                  height="28"
                />
              </a>
              <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Inicio
                </a>

                <a class="navbar-item">
                  Top Scores
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Mas
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Quienes somos?
                    </a>
                    <a class="navbar-item">
                      Que hacemos?
                    </a>
                    <a class="navbar-item">
                      Contactanos
                    </a>
                    <hr class="navbar-divider" />
                    <a class="navbar-item">
                      Comunícanos tus incidencias
                    </a>
                  </div>
                </div>
              </div>

              <div class="navbar-end">
              </div>
            </div>
          </nav>
          {% endblock %}
        </header>
        <main>
          {% block main %} {% endblock %}
        </main>
        <footer>
          {% block footer %} {% endblock %}
        </footer>
      </div>
    </section>
  </body>
</html>
