{% extends 'base.html' %} 
{% block title %}
  {{ super() }}
Elige tus opciones 
  {% endblock %}

{% block main %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Voltexplay - Ruleta de la suerte
      </h1>
      <h2 class="subtitle">
        Elige 7 opciones para rellenar tu ruleta
      </h2>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column is-left">
    <form class="formulario" action="/ruleta" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <label class="checkbox"><input  value="saltar" name="opciones" type="checkbox">Saltar</label><br>
      <label class="checkbox"><input value="coche"  name="opciones" type="checkbox">Coche</label><br>
      <label class="checkbox"><input value="5000"  name="opciones" type="checkbox">5000€ + Vuelve a tirar</label><br>
      <label class="checkbox"><input value="bote"  name="opciones" type="checkbox">Bote</label><br>
      <label class="checkbox"><input value="100"  name="opciones" type="checkbox">100€</label><br>
      <label class="checkbox"><input value="botex2"  name="opciones" type="checkbox">Bote X2</label><br>
      <label class="checkbox"><input value="moto"  name="opciones" type="checkbox">Moto</label><br>
      <label class="checkbox"><input value="bici"  name="opciones" type="checkbox">Bici</label><br>
      <label class="checkbox"><input value="pc"  name="opciones" type="checkbox">Ordenador</label><br>
      <label class="checkbox"><input value="nevera" name="opciones"  type="checkbox">Nevera</label><br><br> 

    <button class="button is-dark">Enviar</button>
  </form>
</div>
  </div>
  {% endblock %}